<ion-view view-title="{{title}}">
	
	<ion-content class="background-cor padding">

		<div class="list formulario-cadastro">
  			<label class="item item-input item-floating-label" id="borda-formulario-cadastro">
    			<span class="input-label">Nome Completo</span>
    			<input type="text" placeholder="Nome Completo">
  			</label>
  			<label class="item item-input item-floating-label" id="borda-formulario-cadastro">
    			<span class="input-label">Email</span>
    			<input type="email" placeholder="Email">
  			</label>
  			<label class="item item-input item-floating-label" id="borda-formulario-cadastro">
    			<span class="input-label">CPF</span>
    			<input type="number" placeholder="CPF">
  			</label>
        <label class="item item-input item-floating-label" id="borda-formulario-cadastro">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha">
        </label>
        <label class="item item-input item-floating-label" id="borda-formulario-cadastro">
          <span class="input-label">Repetir Senha</span>
          <input type="password" placeholder="Repetir Senha">
        </label>
		</div>

    <button class="button button-outline button-positive centralizar" style="margin-top: 50px">
      Cadastrar
    </button>
		
	</ion-content>

</ion-view>