<ion-view>

  <ion-content class="background-cor">

    <img class="img-logo" alt="imagem_logo" ng-src="/img/logo_clip.png">

    <div class="login-form">

      <div class="list list-inset login">
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Senha">
        </label>
      </div>

      <div class="botoes">
        <button class="button button-outline button-positive botao" id="esquerda">
          Entrar
        </button>

        <button class="button button-outline button-positive botao" id="direita" ui-sref="cadastro">
          Cadastrar
        </button>
      </div>

    </div>


  </ion-content>

</ion-view>